@using EntityLayer.Concrete
@model List<TAnket>
@{
    ViewBag.Title = "DashBoard";
}
<h1>Şirket Anket DashBoard</h1>
<br />
<div class="row state-overview">
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol terques">
                <i class="fa fa-user"></i>
            </div>
            <div class="value">
                <h1 >
                    @ViewBag.personel
                </h1>
                <p>Toplam Personel</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol red">
                <i class="fa fa-tags"></i>
            </div>
            <div class="value">
                <h1>
                    @ViewBag.anket
                </h1>
                <p>Toplam Anket</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol yellow">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="value">
                <h1>
                    @ViewBag.soru
                </h1>
                <p>Toplam Soru</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol blue">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="value">
                <h1 >
                    @ViewBag.yorum
                </h1>
                <p>Toplam Yorum</p>
            </div>
        </section>
    </div>
</div>
<br />
<h2>Son Eklenen Anketler</h2>
<br />
<table class="table table-hover">
    <tbody>
        <tr>
            <th>
                Anket
            </th>
            <th>
                Tip
            </th>
            <th>
                Soru Görüntüle
            </th>
            <th>
                Soru Ekle
            </th>
            <th>
                Sonuç Görüntüle
            </th>
            <th>
                Düzenle
            </th>
            <th>
                Sil
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.AnketAd
                </td>
                <td>
                    @item.AnketTip
                </td>
                <td>
                    <a class="btn btn-warning" href="~/SirketPanel/AnketSoruGoruntule/@item.AnketID">Soru Görüntüle</a>
                </td>
                <td>
                    <a class="btn btn-info" href="~/SirketPanel/AnketSoruEkle/@item.AnketID">Soru Ekle</a>
                </td>
                <td>
                    <a class="btn btn-white" href="~/SirketPanel/SonucGoruntule/@item.AnketID">Sonuç Görüntüle</a>
                </td>
                <td>
                    <a class="btn btn-success" href="~/SirketPanel/AnketDuzenle/@item.AnketID">Düzenle</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="~/SirketPanel/AnketSil/@item.AnketID">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>